header {
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    background: linear-gradient(90deg, #8ac6d1 60%, #00c6ff 100%); // خلفية ملونة
    padding: 20px;
    z-index: 10;
}
header h1 {
    margin: 0;
    color: #fff;
}
nav {
    position: fixed;
    width: 100%;
    top: 60px;
      background: linear-gradient(90deg, #8ac6d1 60%, #00c6ff 100%); // خلفية ملونة
    z-index: 10;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
nav ul.show {
    flex-direction: column;
    text-align: center;
}
nav ul.show li {
    margin-bottom: 10px;
}
.menu-icon {
    display: none;
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 20;
}
.menu-icon div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}
@media (max-width: 600px) {
    .menu-icon {
        display: block;
    }
    nav ul {
        display: none;
    }
    nav ul.show {
        display: flex;
        flex-direction: column;
        background: linear-gradient(90deg, #8ac6d1 60%, #00c6ff 100%); // خلفية ملونة
    }
}