<header>
    <h1>Relax & Glow At Home</h1>
    <div class="menu-icon" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
    </div>
</header>
<nav>
    <ul id="menu">
        <li><a [routerLink]="['/pages/massage']">Massages</a></li>
        <li><a [routerLink]="['/pages/beauty']">Beauty</a></li>
        <li><a [routerLink]="['/pages/physiotherapy']">Physiotherapy</a></li>
        <li><a [routerLink]="['/pages/men-haircut']">Men Haircut</a></li>
        <li><a [routerLink]="['/pages/osteopathy']">Osteopathy</a></li>
        <li><a [routerLink]="['/pages/gifts']">Gifts</a></li>
    </ul>
</nav>
