/* .video-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 12px; 
}

.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover; 
  pointer-events: none; 
} */
 .video-wrapper {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.video-wrapper video {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  pointer-events: none;
}