<div class="hero-subtitle">
  OUR AT-HOME TREATMENTS
</div>
<div class="hero-title">
  Bring the spa or clinic to your door
</div>
<div class="services-grid">
  <div class="service-card">
    <img src="assets/pictures/massage.webp" alt="Massages" />
    <div class="service-name">Massages</div>
  </div>
  <div class="service-card">
    <img src="assets/pictures/beauty.webp" alt="Beauty" />
    <div class="service-name">Beauty</div>
  </div>
  <div class="service-card">
    <img src="assets/pictures/physiotheraphie.avif" alt="Physotherapy" />
    <div class="service-name">Physotherapy</div>
  </div>
  <div class="service-card">
    <img src="assets/pictures/hairmen.webp" alt="Men's Haircut" />
    <div class="service-name">Men's Haircut</div>
  </div>
  <div class="service-card">
    <img src="assets/pictures/osteopathie.jpg" alt="Osteopathy" />
    <div class="service-name">Osteopathy</div>
  </div>
  <div class="service-card">
    <img src="assets/pictures/gift.gif" alt="Gifts" />
    <div class="service-name">Gifts</div>
  </div>
  
</div>
<div class="book-now-container">
  <button class="book-now-btn">Book now</button>
</div>